<!-- about.component.html -->
<div class="container mt-5">
  <div class="row">
    <h1>About Me</h1>
    <p>
      Welcome to my journey in the world of software development. With a diverse
      background, I've embarked on a fascinating coding adventure over the past
      two years. It's been a challenging yet fulfilling journey, shaping a new
      passion for problem-solving and persistent growth. I am a Software
      Developer proficient in HTML, CSS, JS, and particularly the Angular
      framework. My mission? To deepen my expertise, contribute actively to a
      dynamic team, and engage in meaningful projects that make a difference.
    </p>
  </div>

  <div class="row mt-5">
    <div class="col">
      <img
        [src]="profileImage"
        alt="Your name"
        class="img-fluid rounded-circle"
      />
    </div>
    <div class="col">
      <h2>Get To Know Me</h2>
      <ul>
        <li><strong>Email:</strong> carla@gmail.com</li>
        <li><strong>Phone:</strong> 91 046 8899</li>
        <li><strong>Language:</strong> Portuguese</li>
      </ul>
    </div>
  </div>
</div>
