<!-- about.component.html -->


<div class="container">
  <div class="row">
     <p>Hi, I'm {{yourName}}!</p>
  <h1>About Me</h1>
  <p>"Stepping into the world of software development has marked an exciting chapter in my diverse life journey.
    Over the past two years, I've embraced the challenges and joys of learning to code,
    fueling a passion for problem-solving and continual growth. As a budding Software Developer
    with foundational knowledge in Angular framework, HTML, CSS and JS , I'm actively seeking a
    role where I can deepen my skills, contribute to a dynamic team, and engage in meaningful projects." </p>
  </div>

  <div class="col">
    <h2> Skils</h2>
    <ul>
       <li>skill 1</li>
       <li>skill 2</li>
       <li>skill 3</li>

    </ul>
  </div>
   <div class="col">
    <h2> Basic Information</h2>
    <ul>
       <li>Date Birthday:  29-12-74</li>
       <li>email: </li>
       <li>phone</li>
       <li>lenguage: Portuguese</li>

    </ul>
  </div>

</div>
