<div class="container mt-5">
  <h1>My Skills</h1>
        <div *ngFor="let skillBar of skillsBar" class="my-3">
        <h6>{{ skillBar.name }}</h6>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            [style.width]="skillBar.level + '%'"
            aria-valuenow="skillBar.level"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ skillBar.level }}%
          </div>
        </div>
      </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let skill of skills">
      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>{{ skill }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>I have a deep understanding and experience of using {{ skill }} in real world projects.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
