

  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 text-center">
      <img
        [src]="profileImage"
        routerLink="/about"
        alt="Profile Picture"
        class="img-fluid rounded-circle w-50 mb-3"
      />
      <h1>{{ name }}</h1>
      <p class="lead">{{ profession }}</p>

      <p class="lead">
        <a
          [routerLink]="['/about']"
          style="cursor: pointer; color: inherit; text-decoration: none"
        >
          About me
        </a>
      </p>

      <p class="lead">
        <a
          [routerLink]="['/skills']"
          style="cursor: pointer; color: inherit; text-decoration: none"
        >
          Skills
        </a>
      </p>

      <p class="lead">
        <a
          [routerLink]="['/contact']"
          style="cursor: pointer; color: inherit; text-decoration: none"
        >
          Contact
        </a>
      </p>
    </div>
  </div>

